# Common secret files (unencrypted)
# If you ever have unencrypted secrets you don't want to commit, add them here.
# For SOPS, you'll commit the *encrypted* files, but this is for extra safety.
*.key
*.crt
*.pem
*.pfx
*.p12
.DS_Store

# Environment variables
.env
.flaskenv
secret.yaml
secrets.yaml
secret.yml
secrets.yml
