grafana:
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.capihome.xyz
    tls:
      - hosts:
          - grafana.capihome.xyz
        secretName: wildcard-capihome-xyz-tls
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-cloudflare
      external-dns.alpha.kubernetes.io/hostname: grafana.capihome.xyz
  persistence:
    enabled: true
    storageClassName: nfs-rwx
    accessModes:
      - ReadWriteMany
    size: 5Gi
  grafana.ini:
    server:
      root_url: https://grafana.capihome.xyz
      serve_from_sub_path: false
    auth.generic_oauth:
      enabled: true
      name: Authentik
      allow_sign_up: true
      client_id: grafana
      client_secret: "$__file{/etc/secrets/grafana_oauth_secret/client_secret}"
      scopes: "openid profile email"
      auth_url: "https://auth.capihome.xyz/application/o/authorize/"
      token_url: "https://auth.capihome.xyz/application/o/token/"
      api_url: "https://auth.capihome.xyz/application/o/userinfo/"
      role_attribute_path: "contains(groups, 'grafana-admins') && 'Admin' || 'Viewer'"
    assertNoLeakedSecrets: false
  extraSecretMounts:
    - name: auth-generic-oauth-secret-mount
      secretName: grafana-authentik
      defaultMode: 0440
      mountPath: /etc/secrets/grafana_oauth_secret
      readOnly: true
