grafana:
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.capihome.xyz
    tls:
      - hosts:
          - grafana.capihome.xyz
        secretName: wildcard-capihome-xyz-tls
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-cloudflare
      external-dns.alpha.kubernetes.io/hostname: grafana.capihome.xyz
  persistence:
    enabled: true
    storageClassName: nfs-rwx
    accessModes:
      - ReadWriteMany
    size: 5Gi