apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base

patches:
  - path: host-patch.yaml
  - path: replica-patch.yaml

namePrefix: prod-
labels:
  - pairs:
      environment: prod