provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: apikey
args:
  - --log-level=info
  - --log-format=text
  - --interval=1m
  - --source=service
  - --source=ingress
  - --provider=cloudflare
  - --policy=upsert-only
  - --registry=txt
  - --domain-filter=capihome.xyz
  - --txt-owner-id=k3s-lab